@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$pale_blue: hsl(225, 100%, 94%);
$bright_blue: hsl(245, 75%, 52%);
$very_pale_blue: hsl(225, 100%, 98%);
$desaturated_blue: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);
$font-fam: 'Red Hat Display', sans-serif;
$kinda_pale_blue: hsl(225, 100%, 100%);
$not_bright_blue: hsl(245, 75%, 75%);
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/pattern-background-mobile.svg');
  background-color: $pale_blue;
  background-repeat: no-repeat;
  object-position: right top;
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  // border: 3px dotted red;
}

main {
  background-color: $kinda_pale_blue;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  // justify-content: space-between;
  width: 320px;
  height: 35rem;
  font-family: $font-fam;
  // border: 3px dotted red;
}
img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 0.5rem;
}
.block-1 {
  text-align: center;

  h1 {
    font-size: 1.4rem;
    margin: 1.3rem;
    font-weight: 900;
  }
  p {
    margin: 0 2rem;
    color: $desaturated_blue;
    font-size: 15px;
    line-height: 1.6;
  }
}
.block-2 {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  margin: 1.5rem;
  width: 275px;
  height: 5rem;
  border-radius: 0.75em;
  background-color: $very_pale_blue;
  // border: 1px dotted blue;
}
.icon {
  margin: 1rem;
}
.plan {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 0.25rem;
}
.price {
  font-size: 14px;
  font-weight: 900;
  color: $desaturated_blue;
}
.change {
  margin-left: 3rem;
  font-size: 13px;
  font-weight: 900;
}
.change:hover {
  text-decoration: none;
}

button {
  font-size: 1rem;
  height: 3.2rem;
  width: 87%;
  border-radius: 0.75em;
  background-color: $bright_blue;
  color: $very_pale_blue;
  font-weight: 700;
  font-size: 15px;

  cursor: pointer;
}
button:hover {
  background-color: $not_bright_blue;
  border: 2px solid $not_bright_blue;
}
.cancel {
  text-decoration: none;
  color: $desaturated_blue;
  font-weight: 900;
  padding: 1.5rem;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  // border: 3px dotted red;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
